* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 40px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding: 10px;

    
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position:absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}


.login-box .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.time{
    display: flex;
}

.time div{
    flex-basis: 100px;
}
 .time div p{
    font-size: 60px;
    margin-bottom: -14px;
 }

 p{
    color: #fff;
 }
span {
      color: #fff;
  }


.myInput{
    color: white;
}

.change-content-container {
    margin-bottom: 20px;
}

.change-content-input {
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
}


.change-content-container{
    color:#fff;
    border-color: #fff;


}

input,
.change-content-input {
    color: white;
    border-color: white;
}

input::-webkit-input-placeholder,
.change-content-input::-webkit-input-placeholder {
    color: white;
}

input:-moz-placeholder,
.change-content-input:-moz-placeholder {
    color: white;
}

input::-moz-placeholder-color,
.change-content-input::-moz-placeholder-color {
    color: white;
}

input:-ms-input-placeholder,
.change-content-input:-ms-input-placeholder {
    color: white;
}

input::placeholder,
.change-content-input::placeholder {
    color: white;
}


.rating{
    display: inline-block;
}

.rating input{
    display: none;
}

.rating label{
    float: right;
    cursor: pointer;
    color: #555;
}

.rating label::before{
    content:'\2605';
    font-size: 50px;
}


.rating input:checked~label{
    color:yellow;
}

.rating label:after {
    content: 'Thank you for your feedback!';
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
}

.rating input:checked~label:after {
    visibility: visible;
}

.rating input:checked~label {
    visibility: visible;
}

.score{
    color: white;
}